{% extends "base.html" %}
{% block content %}
<h2>{{user.name}}</h2>
<strong>Contact(wechat):</strong>{{user.contact}}
<h2>Textbooks he/she want to sell</h2>
{% if books%}
<ul>
{% for b in books %}
<li>
	<a href="/exchange/viewBook/{{b.id}}/">{{b}}</a>
</li>
{% endfor %}
</ul>
{% else %}
<p>
	He/She does not have any posts yet.
</p>
{% endif %}

<h2>Textbooks he/she want to buy</h2>
{% if requests %}
<ul>
{% for r in requests %}
<li>
	<a href="/exchange/viewRequest/{{r.id}}/">{{r}}</a>
</li>
{% endfor %}
</ul>
{% else %}
<p>
	He/She does not have any posts yet.
</p>
{% endif %}
{% endblock %}